*{
    margin: 0;
    padding: 0;
}
.public_width{
    width: 750px;
    margin: 0 auto;
    background: #2448E9;
}
body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
}
img {
    border: none;
    vertical-align: middle;
}
a ,a:hover{
    text-decoration: none!important;
    color: black ;
}
i {
    font-style: normal;
}
input,
button {
    margin: 0;
    padding: 0;
    outline: none;
}