*{
    margin: 0;
    padding: 0;
}
.public_width{
    width: 750px;
    margin: 0 auto;
}
body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
}
img {
    border: none;
    vertical-align: middle;
}
a ,a:hover{
    text-decoration: none!important;
    color: black ;
}
i {
    font-style: normal;
}
input,
button {
    margin: 0;
    padding: 0;
    outline: none;
}
:root{
    --c_one:#2448E9;  /*落地页1的主色*/
    --c_two:#072C6F;/*落地页2 的主色*/
    --c_three:linear-gradient(to right,#FB7B65, #F94234);/*落地页2 的主色*/

}