<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ph_occupationalPhysicia_header.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
    <div id="app">
        <div class="header_Centanin">
            <div class="header">
                <a href="/phone/home">
                    <img class="logo" src="/images/phone/header_logo.png" alt="">
                </a>
                <div><a href="http://ksbao.com/pc/"  target="_blank">下载APP</a></div>
                <a href="/phone/ph_occupationalPhysicia"><img class="search" src="/images/phone/header_search.png" alt=""></a>
            </div>
        </div>

    </div>

</body>

</html>