<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="alternate" href="/phone/home">
    <title>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/brand.css">
<div class="brand_Cantain">
    <a href="#">
        <div class="ct_brands time">
            <div class="pic">
                <img src="/images/time.png" alt="">
            </div>
            <p>16年<br />在线教育品牌</p>
        </div>
    </a>
    <a href="#">
        <div class="ct_brands breakthrough">
            <div class="pic">
                <img src="/images/breakthrough.png" alt="">
            </div>
            <p>累计服务突破<br />一千万学员</p>
        </div>
    </a>
    <a href="#">
        <div class="ct_brands exam">
            <div class="pic">
                <img src="/images/exam.png" alt="">
            </div>

            <p>累计帮助数百万<br />学员通过考试</p>
        </div>
    </a>
    <a href="#">
        <div class="ct_brands serve">
            <div class="pic">
                <img src="/images/serve.png" alt="">
            </div>
            <p>科学的授课体系名师课程+AI智能题库+品质教辅+优质服务+高效率答疑</p>
        </div>
    </a>


</div>
<div class="ct_advert">
    <a href="#">
        <img src="/images/banner_buttom.png" alt="">
    </a>
</div>




<body>