<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <link href="" type="image/x-icon" rel="shortcut icon" />
    <link rel="alternate" href="/phone/home">
    <title>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/consult.css">
<div class="consult">
    <div class="head">
        <img src="/images/consult_logo.png" alt="">
    </div>
    <p class="tit">
        学习规划师
    </p>
    <div class="sel_cour m-top flex">
        <img class="ct_img" src="/images/consult_coure.png" alt="">
        <p class="ct_text"><a href="http://wpa.qq.com/msgrd?v=3&uin=880058&site=qq&menu=yes" target="_blank">选课咨询</a></p>
    </div>
    <hr>
    <div class="en_con m-top flex">
        <img class="ct_img" src="/images/consult_ques.png" alt="">
        <p class="ct_text"><a href="http://wpa.qq.com/msgrd?v=3&uin=880058&site=qq&menu=yes" target="_blank">报考咨询</a></p>
    </div>
    <div class="sell_ser m-top flex">
        <img class="ct_img" src="/images/consult_serve.png" alt="">
        <p class="ct_text"><a href="http://wpa.qq.com/msgrd?v=3&uin=880058&site=qq&menu=yes" target="_blank">售后服务</a></p>
    </div>
    <hr>
    <div class="call_con m-top flex">
        <img class="ct_img" src="/images/consult_phone.png" alt="">
        <p class="ct_text">电话咨询</p>
    </div>
    <p class="ct_call">132-9789-0010</p>
    <hr>
    <div class="app_downl">
        <img class="ft_img" src="/images/consult_buttom.png" alt="">
        <p class="ft_text">APP下载</p>
        <div class="rt_code">
            <img src="/images/consult_code.png" alt="">
            <p>扫码下载app</p>
        </div>
    </div>
</div>


<body>