<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="alternate" href="/phone/home">
    <title>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
<div class="footer_Centain">
    <div class="baozhang">
        <div class="baozhang-ct">
            <div class="photo">
                <img src="/images/baozhang_zhi.png" alt="">
            </div>
            <div class="content">
                <p>品质保障</p>
                <p>知名老师授课 高清大屏试听</p>
            </div>
        </div>
        <div class="verticalLine_skew"></div>
        <div class="baozhang-ct">
            <div class="photo">
                <img src="/images/baozhang_bao.png" alt="">
            </div>
            <div class="content">
                <p>品质保障</p>
                <p>知名老师授课 高清大屏试听</p>
            </div>
        </div>
        <div class="verticalLine_skew"></div>
        <div class="baozhang-ct">
            <div class="photo">
                <img src="/images/baozhang_seven.png" alt="">
            </div>
            <div class="content">
                <p>品质保障</p>
                <p>知名老师授课 高清大屏试听</p>
            </div>
        </div>
        <div class="verticalLine_skew"></div>
        <div class="baozhang-ct">
            <div class="photo">
                <img src="/images/baozhang_di.png" alt="">
            </div>
            <div class="content">
                <p>品质保障</p>
                <p>知名老师授课 高清大屏试听</p>
            </div>
        </div>
    </div>

    <div class="ft_aboutUs">
        <div class="footer_logo">
            <img src="/images/footer_logo.png" alt="">
        </div>
        <ul>
            
            <li><a href="#">英腾教育旗下作品</a></li>
            <li><a href="#">刷题神器</a></li>
            <li><a href="#">应急产品中心</a></li>
            <li><a href="#">卫教云题博士</a></li>
        </ul>
        <ul>
            <li><a href="#">中国卫生人才网</a></li>
            <li><a href="#">中华考试网</a></li>
            <li><a href="#">国家医学考试网</a></li>
            <li><a href="#">国家卫生健康委员会</a></li>
            <li><a href="#">中华医学会</a></li>
        </ul>
        <div class="code">
            <p class="focus">关注我们</p>
            <div class="code_imgs">
                <div>
                    <img src="/images/code_yishi.png" alt="">
                    <p>执业医师</p>
                </div>
                <div>
                    <img src="/images/code_yaoshi.png" alt="">
                    <p>执业药师</p>
                </div>
                <div>
                    <img src="/images/code_hushi.png" alt="">
                    <p>执业护士</p>
                </div>
                <div>
                    <img src="/images/code_zhaopin.png" alt="">
                    <p>医疗招聘</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="copy_right">
        <p>广西网警网站备案：45020202000069号 网络文化经营许可证：桂网文 (2018) 2383-005号 广西网络警察 广西网警虚拟岗亭 广西网站备案</p>
        <p>Copyright @2005-2020 广西英腾教育科技股份有限公司 版权所有 桂ICP备09009842号 增值电信业务经营许可证： 桂B2-20120024 出版物经营许可证 网络经营 网站地图</p>
    </footer>
    


</div>


<body>