<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="alternate" href="/phone/home">
    <title>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">
<div class="menu_Centain">
    <div class="menu">
        <div class="ct_menu">
            <ul>
                <li>
                    <div class="ct_menu_ct">
                        <div class="ct_menu_tit">
                            <img src="/images/menu_person.png" alt="">
                            <h1>医学执业</h1>
                        </div>
                        <ul class="ct_menu_tits">
                            <li class="odd wihte"><a href="/qualificationPage?ksbClassID=10">执业药师</a></li>    
                            <li class="even wihte"><a href="/qualificationPage?ksbClassID=4">执业医师</a></li>
                            <li class="odd wihte"><a href="/qualificationPage?ksbClassID=13">执业护士</a></li>
                            <li class="even wihte"><a href="/qualificationPage?ksbClassID=14">执业兽医</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="ct_menu_ct">
                        <div class="ct_menu_tit">
                            <img src="/images/menu_pin.png" alt="">
                            <h1>医疗招聘</h1>
                        </div>
                        <ul class="ct_menu_tits">
                            <li class="odd wihte"><a href="/qualificationPage?ksbClassID=377">E类面试</a></li>    
                            <li class="even wihte"><a href="">招考信息</a></li>
                            <li class="odd wihte"><a href="">视频教程</a></li>
                            <li class="even wihte"><a href="">真题题库</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="ct_menu_ct">
                        <div class="ct_menu_tit">
                            <img src="/images/menu_other.png" alt="">
                            <h1>其他医学</h1>
                        </div>
                        <ul class="ct_menu_tits">
                            <li class="odd wihte"><a href="/qualificationPage?ksbClassID=18">医疗设备考评</a></li>    
                            <li class="even wihte"><a href="/qualificationPage?ksbClassID=275">医学考研</a></li>
                            <li class="odd wihte"><a href="/qualificationPage?appID=16668">住院医师招录</a></li>
                            <li class="even wihte"><a href="/qualificationPage?ksbClassID=14">执业兽医</a></li>
                        </ul>
                        
                    </div>
                </li>
            </ul>
        </div>
        <div class="ct_navAndWiper">
            <div class="ct_nav">
                <nav>
                    <ul>
                        <!--            暂无 
                             <li><a href="#">选课中心</a></li>
                        <div class="verticalLine_short"></div> -->
                        <li><a href="http://byhzs.ksbao.com/login?ac=333333-3"  target="_blank">学习中心</a></li>
                        <div class="verticalLine_short"></div>
                        <li><a href="http://ksbao.com/pc/"  target="_blank">下载app</a></li>
                        <div class="verticalLine_short"></div>
                        <li><a href="http://yingedu.com/About"  target="_blank">关于英腾</a></li>
                    </ul>
                </nav>
            </div>
            <div class="ct_wiper">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/images/menu_banner.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>


<body>