<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="alternate" href="/phone/home">
    <title>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/serve.css">
<div class="serve_Centain">
    <header class="header haerder_ser">
        <h1>配套服务</h1>
    </header>
    <div class="ct_serve_main">
        <div class="ct_serve_ct">
            <p class="title">课程学习</p>
            <h1>免费试听</h1>
            <p>精研细磨，层层筛选</p>
            <p>每个考试均精益求精打造出完善的课程</p>
            <img src="/images/serve_earphone.png" alt="" class="i">
        </div>

        <div class="ct_serve_ct">
            <p class="title">实时更新</p>
            <h1>大数据库题库</h1>
            <p>告别传统题海战术的弊端</p>
            <p>锁定章节高频考点，直击命题核心</p>
            <img src="/images/serve_paper.png" alt="" class="i">
        </div>
        <div class="ct_serve_ct">
            <p class="title">随时随地</p>
            <h1>全终端学习</h1>
            <div class="third_ct">
                <div class="code">
                    <img src="/images/serve_code.png" alt="">
                </div>
                <div class="banben">
                    <div><a href="http://ksbao.com/pc/"  target="_blank">下载电脑版</a></div>
                    <div><a href="http://ksbao.com/pc/"  target="_blank">体验网页版</a></div>
                </div>
            </div>

        </div>
        <div class="ct_serve_ct">
            <p class="title">学习互动</p>
            <h1>互动交流</h1>
            <p>qq群，微信群等多种交流方式互相监督</p>
            <p>学习进程，答疑解惑</p>
            <img src="/images/serve_question.png" alt="" class="i">
        </div>
    </div>
</div>


<body>